.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  position: relative;
  border-top: 1em solid rgba(0,0,0, 0.1);
  border-right: 1em solid rgba(0,0,0, 0.1);
  border-bottom: 1em solid rgba(0,0,0, 0.1);
  border-left: 1em solid grey;
  transform: translateZ(0);
  animation: load 2000ms infinite linear;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
